@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-box {
  @apply bg-neutral;
  /* @apply p-4; */
  @apply rounded-2xl;
}

@layer components {
  .scrollable-overlay {
    position: relative;
  }
  .scrollable-overlay::after {
    content: '';
    display: block;
    position: sticky;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-image: linear-gradient(0deg, oklch(var(--n)), transparent);
    z-index: 10;
  }
  .scrollable-overlay-content {
    position: relative;
    z-index: 1;
  }
}

@layer components {
  .text-border-1 {
    text-shadow:
      oklch(var(--n)) 2px 2px 1px,
      oklch(var(--n)) -2px -2px 1px,
      oklch(var(--n)) 2px 0px 1px,
      oklch(var(--n)) -2px 0px 1px,
      oklch(var(--n)) 0px 2px 1px,
      oklch(var(--n)) 0px -2px 1px,
      oklch(var(--n)) 2px -2px 1px,
      oklch(var(--n)) -2px 2px 1px,
      rgba(255, 255, 255, 50%) 2px 2px 3px,
      rgba(255, 255, 255, 50%) -2px -2px 3px,
      rgba(255, 255, 255, 50%) 2px 0px 3px,
      rgba(255, 255, 255, 50%) -2px 0px 3px,
      rgba(255, 255, 255, 50%) 0px 2px 3px,
      rgba(255, 255, 255, 50%) 0px -2px 3px,
      rgba(255, 255, 255, 50%) 2px -2px 3px,
      rgba(255, 255, 255, 50%) -2px 2px 3px;
  }
  .text-border-2 {
    text-shadow:
      oklch(var(--n)) 3px 3px 2px,
      oklch(var(--n)) -3px -3px 2px,
      oklch(var(--n)) 3px 0px 2px,
      oklch(var(--n)) -3px 0px 2px,
      oklch(var(--n)) 0px 3px 2px,
      oklch(var(--n)) 0px -3px 2px,
      oklch(var(--n)) 3px -3px 2px,
      oklch(var(--n)) -3px 3px 2px,
      rgba(255, 255, 255, 50%) 3px 3px 4px,
      rgba(255, 255, 255, 50%) -3px -3px 4px,
      rgba(255, 255, 255, 50%) 3px 0px 4px,
      rgba(255, 255, 255, 50%) -3px 0px 4px,
      rgba(255, 255, 255, 50%) 0px 3px 4px,
      rgba(255, 255, 255, 50%) 0px -3px 4px,
      rgba(255, 255, 255, 50%) 3px -3px 4px,
      rgba(255, 255, 255, 50%) -3px 3px 4px;
  }
  .text-border-3 {
    text-shadow:
      oklch(var(--n)) 4px 4px 2px,
      oklch(var(--n)) -4px -4px 2px,
      oklch(var(--n)) 4px 0px 2px,
      oklch(var(--n)) -4px 0px 2px,
      oklch(var(--n)) 0px 4px 2px,
      oklch(var(--n)) 0px -4px 2px,
      oklch(var(--n)) 4px -4px 2px,
      oklch(var(--n)) -4px 4px 2px,
      rgba(255, 255, 255, 50%) 4px 4px 5px,
      rgba(255, 255, 255, 50%) -4px -4px 5px,
      rgba(255, 255, 255, 50%) 4px 0px 5px,
      rgba(255, 255, 255, 50%) -4px 0px 5px,
      rgba(255, 255, 255, 50%) 0px 4px 5px,
      rgba(255, 255, 255, 50%) 0px -4px 5px,
      rgba(255, 255, 255, 50%) 4px -4px 5px,
      rgba(255, 255, 255, 50%) -4px 4px 5px;
  }
}
.animate-slide-in {
  animation: slide-in 0.5s forwards;
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.hover-arrow:hover {
  @apply cursor-pointer;
  @apply bg-white/5;
  @apply transition-colors;
}
.hover-arrow:hover .hover-arrow-child {
  @apply translate-x-1.5;
}

.msi-arrow-back::before {
  --tw-content: '\e2ea';
  content: '\e2ea';
}

.msi-arrow-forward::before {
  --tw-content: '\e5e1';
  content: '\e5e1';
}

.msi-number-1::before {
  --tw-content: '\f784';
  content: '\f784';
  font-size: 1.3em;
  @apply text-accent;
}
.msi-number-2::before {
  --tw-content: '\f783';
  content: '\f783';
  font-size: 1.3em;
  @apply text-accent;
}
.msi-number-3::before {
  --tw-content: '\f782';
  content: '\f782';
  font-size: 1.3em;
  @apply text-accent;
}

.msi-brightness::before {
  --tw-content: '\f7e8';
  content: '\f7e8';
}

.msi-output::before {
  --tw-content: '\ebbe';
  content: '\ebbe';
  font-size: 1.5em;
}

.msi-load::before {
  --tw-content: '\f053';
  content: '\f053';
  font-size: 1.3em;
}
